<h2>Settings List ({{!!settings ? settings.length : '0'}})</h2>
<!-- <cite>loading? {{ isLoading }}</cite> -->
<section class="container">
  <p><i>Pick settings from the list</i></p>
  <ul>
    <li *ngFor="let settings of settings" (click)="selectSettings(settings)">
      <!-- <h3></h3> -->
      <h5 class="title is-5">{{settings.space}}</h5>
      <div>

      </div>
      <pre>{{settings | json}}</pre>
      <p>&nbsp;</p>
    </li>
  </ul>
</section>

<!--
 -->
<!-- 
<settings-detail *ngIf="selectedSettings" [settings]="selectedSettings" [settings]="settings"></settings-detail> -->
