<aside class="menu" [class.is-open]="isSidenavOpen">
  <div>
    <p class="menu-label">
      Space
    </p>
    <ul class="menu-list">
      <li *ngFor="let space of spaces" (click)="selectSpace(space)">
        <span class="tag" [class.is-primary]="selected && space.name === selected.name">{{space.name}}</span>
      </li>
    </ul>
    <div *ngIf="selected">
      <p class="menu-label">
        Manage {{selected.name}}
      </p>
      <ul class="menu-list">
        <!-- <li><a></a></li> -->
        <li>
          <a [routerLink]="['admin','edit', {space: selected.name }]" routerLinkActive="is-active"><span
              (click)="editSpace($event, selected.name)">Edit space</span></a>
          <!-- <a (click)="editSpace(selected.name)">Edit space</a> -->
          <!-- <ul>
          <li><a>Icon</a></li>
          <li><a>Description</a></li>
        </ul> -->
        </li>
        <li>
          <a routerLink="settings" routerLinkActive="is-active">Edit settings</a>
          <!-- <ul>
          <li><a>Credentials</a></li>
          <li><a>Description</a></li>
        </ul> -->
        </li>
        <!-- <li><a>Invitations</a></li>
      <li><a>Cloud Storage Environment Settings</a></li>
      <li><a>Authentication</a></li> -->
      </ul>
    </div>


  </div>

</aside>
<span class="icon is-large menu-toggler" (click)="toggleSidenav()">
  <i class="fas fa-bars fa-2x"></i>
</span>
<!-- <pre>{{selected | json}}</pre>kljklj -->
