:host {
  position: fixed;
  height: 100%;
  background-color: #f9f1e6;
  top: 0;
  padding: 2rem 0 2rem 2rem;
  z-index: 1;
  left: -21rem;
  min-width: 21rem;

  aside {
    display: flex;
    margin-right: 0.5rem;

    &.is-open {
      margin-left: 21rem;
    }

    div {
      padding-right: 1rem;
    }

    .menu-toggler {
      margin: -1.5rem 0 0;
    }

  }
}