<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item">
        <img class="logo" src="assets/images/logo.png" alt="erratik logo">
      </a>
      <a routerLink="settings" class="nav-item is-tab" routerLinkActive="is-active">settings</a>
      <a routerLink="spaces" class="nav-item is-tab" routerLinkActive="is-active">spaces</a>
      <a routerLink="map" class="nav-item is-tab" routerLinkActive="is-active">cloud</a>
      <a routerLink="journal" class="nav-item is-tab" routerLinkActive="is-active ">journal</a>
    </div>
    <div class="nav-right" *ngIf="isLoggedIn">
      <a (click)="logout()" class="nav-item">logout</a>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </div>
</nav>
