:host {
  // position: relative;
  height: 100%;
  background-color: #f9f1e6;
  top: 0;
  padding: 2rem 1rem 2rem 2rem;
  z-index: 1;
  position: fixed;

  aside {
    margin-right: 0.5rem;
    min-width: 13rem;
    display: none;

    &.is-open {
      display: flex;
    }

    div {
      padding-right: 1rem;
    }

  }

  .menu-toggler {
    position: absolute;
    right: 0;
    top: 0;
  }

}